@import "tailwindcss";

:root {
  --color-primary: #E64122;
  --color-secondary: #D50E1C;
  --color-accent: #FFFFFF;
}

body {
    font-family: 'Inter Variable', sans-serif;
  }

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

::selection {
  background-color: var(--color-primary); /* Cambia el color de fondo */
  color: var(--color-accent); /* Cambia el color del texto */
}

/* Definición de animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clases de animación */
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}