---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/inter';
---
<html>
  <head>
    <title>Contact Us - MDBS</title>
    <link rel="icon" type="image/x-icon" href="/LOGO.PNG" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="text-gray-900 flex flex-col items-center p-8 min-h-screen">
    <div class="fixed inset-0 z-[-2] bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] animate-fadeIn"></div>

    <main class="max-w-3xl bg-white shadow-lg rounded-lg p-6 animate-fadeInUp">
      <h1 class="text-4xl font-bold mb-6 text-primary">Contact Us</h1>
      <h3 class="text-2xl font-semibold mb-4"><b>Need To Get In Touch?</b></h3>
      <p class="text-lg text-gray-700 mb-4">Submit the form below and our team will get back to you in the next 24-48 business hours. If you need something before then, feel free to email <a href="mailto:support@erinandsarit.com" class="text-primary hover:underline">support@erinandsarit.com</a>.</p>
      
      <div class="mt-6">
        <iframe 
          style="width:100%; height:680px; border:none; border-radius:3px;" 
          src="https://api.leadconnectorhq.com/widget/form/9fK9x2fB8nhWI9h6d6zq" 
          title="Support Form">
        </iframe>
      </div>
      
      <div class="mt-8">
        <a href="/" class="bg-primary text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-700 transition">Back to Home</a>
      </div>
    </main>
    <Footer />
  </body>
</html>