---
import '../styles/global.css';
import Footer from './Footer.astro';
import Appstore from '../assets/Appstore.astro';
import Playstore from '../assets/Playstore.astro';
---
 
<html>
  <head>
    <title>Million Dollar Body Society - Get The Early Access Now!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="text-primary flex flex-col items-center justify-center min-h-screen">
    <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] animate-fadeIn"></div>
    <main class="text-center p-6 md:p-12 animate-fadeInUp">
      <img src="/icon-512.png" alt="App Icon" class="w-36 h-36 animate-bounce mb-4 shadow-xl rounded-xl items-center justify-center mx-auto" />
	  <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl animate-fade-in">Million Dollar Body Society</h1>
      <p class="text-lg mt-2 text-gray-700">Track your fitness goals with precision and ease.</p>
      <p class="text-gray-700 mt-8 text-3xl font-bold tracking-tight leading-none md:text-4xl lg:text-5xl animate-pulse">Get the early access now!</p>
      
      <!-- Botones de descarga -->
      <div class="flex justify-center my-10">
        <a href="https://play.google.com/store/apps/details?id=com.mdbs.emunahstrength" class=" flex items-center border w-auto rounded-lg px-4 py-2 w-44 mx-2 bg-white text-[#E64122] shadow-md hover:bg-[#E64122] hover:text-white hover:shadow-lg transition">
			<Playstore  class="size-9"/>
          <!-- <img src="https://cdn-icons-png.flaticon.com/512/888/888857.png" class="w-7 md:w-8"> -->
          <div class="text-left ml-3">
            <p class='text-xs'>Download on</p>
            <p class="text-md md:text-base">Google Play Store</p>
          </div>
        </a>

        <a href="https://testflight.apple.com/join/x9d79hHs" class="flex items-center border w-auto rounded-lg px-4 py-2 w-44 mx-2 bg-white text-[#E64122] shadow-md hover:bg-[#E64122] hover:text-white hover:shadow-lg transition">
			<Appstore class="size-9" />
          <!-- <img src="https://cdn-icons-png.flaticon.com/512/888/888841.png" class="w-7 md:w-8"> -->
          <div class="text-left ml-3">
		  	<p class='text-xs'>Download on</p>
             <p class="text-md md:text-base">Apple Store</p>
          </div>
        </a>
      </div>

      <div class="mt-8 text-sm text-gray-600">
        <a href="/privacy" class="hover:underline hover:text-red-600 transition">Privacy Policy</a> |
        <a href="/terms" class="hover:underline hover:text-red-600 transition">Terms & Conditions</a> | 
        <a href="/contact" class="hover:underline hover:text-red-600 transition">Contact Us</a>
      </div>
      <Footer/>
    </main>
    
  </body>
</html>


